<div class="search-form mt-5">
    <form method="POST" action="">
        <div class="mb-3 row">
          <label for="search-input" class="col-sm-2 col-form-label">Từ khóa</label>
          <div class="col-sm-10">
            <input type="text" name="q" class="form-control" id="search-input" placeholder="nhập từ khóa">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>